<div class="container-fluid px-0 py-2">
  <div class="home-page">

    <div class="home-container home-panel home-panel-default">
      <div class="description-container p-6 text-center">
        <h1>
          FIS Enterprise Store is now your one stop for mobile apps for iOS and Android. FIS Appstore is now 200 Apps strong !
        </h1>
        
      </div>
      <div class="category-container">
        <app-category [categories]="categories">
        </app-category>
      </div>
    </div>
  </div>
</div>