.w-70 {
    width: 70%
}


.product-list-heading {
    border: 1px solid #ccc;
    background-color: #e0e0e0;
    color: #007d8a;
}
.product-list-container {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
